/* ===== ドット絵スタイル ゲーム紹介ページ ===== */
/* ===== メインスタイルシート - すべてのCSSをインポート ===== */

/* Base & Layout */
@import url('./base.css');
@import url('./loading.css');
@import url('./navigation.css');

/* Page Sections */
@import url('./hero.css');
@import url('./about.css');
@import url('./features.css');
@import url('./screenshots.css');
@import url('./download.css');
@import url('./credits.css');
@import url('./footer.css');

/* Components & Utilities */
@import url('./components.css');
@import url('./back-to-top.css');
@import url('./animations.css');
